

.parent_nav{
    position: sticky;
    top: 0;
}

.navbar{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: white;
    padding: 1rem 0 1rem 0;
    .menu_icon{
        font-size: 20px;
    }
    .search_icon{
        font-size: 18px;
    }
    .news_logo{
        height: 40px;
    }
}