@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');
*{
  font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;

}

.parent{
  display: flex;
  justify-content: center;
  
}
.App {
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */

  /* background-color: rgb(186, 184, 184); */
  max-width: 378px;
  width: 100%;
  height: 100vh;
}
